$sign_color: #b9b9b9;
$font_size: 12px;
$bg_color: #edf0f7;

.first_nav {
  &_container {
    display: flex;
  }
  &_sign {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    font-size: 0;
    min-width: 200px;
    .sign_title {
      font-size: 12px;
      color: $sign_color;
      font-weight: normal;
      &::before {
        content: "｜";
      }
    }
  }
  &_position{
    flex: 1;
    display: inline-flex;
    .el-menu--horizontal>.el-menu-item{
      height: 43px;
      line-height: 43px;
      font-size: $font_size;
    }
  }
  &_info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    .el-dropdown-selfdefine{
      font-size: $font_size;
    }
  }
  &_content{
    background-color:$bg_color;
    // height: calc(100vh - 44px);
  }
}